.word-selector {
  ul {
    margin: 12px 0;
    user-select: none;
    display: block;
    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px;
      margin: 12px 0;
      font-size: 24px;
      .btn-right  {
        margin-left: 24px;
        float: right;
      }
    }
  }
}