<ng-container *ngIf="pool.length">
  <h2>Слова на изучении</h2>
  <table class="table striped">
    <thead>
      <th>Слово</th>
      <th>Количество тренировок</th>
      <th>Количество ошибок</th>
      <th>Последняя тренировка</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of pool">
        <td>{{ item.word }}</td>
        <td class="right">{{ item.progress }}</td>
        <td class="right">{{ item.errors }}</td>
        <td class="right">{{ item.last }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<button (click)="addWords=true" [disabled]="!canAddWords" class="btn btn-primary">
  Добавить слова
</button>

<clr-modal [(clrModalOpen)]="addWords" >
    <h3 class="modal-title">Добавление списка слов на изучение</h3>
    <div class="modal-body">
      <app-word-selector (select)="addPortion($event)"></app-word-selector>
    </div>
</clr-modal>



<a routerLink="/training" class="btn btn-primary">Начать тренировку</a>

